node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.vscode
.nvmrc
.editorconfig
.eslint*
.prettier*
.husky
.commitlint*
test
tests
spec
specs
*.test.js
*.spec.js
*.test.ts
*.spec.ts
dist
*.log
.DS_Store
.dockerignore
Dockerfile
.docker
.bunfig.toml
.yarn
.cache